.signInFooter {
    width: 100%;
    height: 5.9%;
    background-color: #f4f7f8;
    display: flex;
    justify-content: center;
    text-align: center;
}

.PEEKaMEET2020 {
    width: 121px;
    height: 18px;
    margin: 20px 99px 6px 0;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
    text-align: center
}

.Follow-Us {
    width: 63px;
    height: 18px;
    margin: 20px 10px 6px 0;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

.FAQs {
    width: 34px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

.Terms-Conditions {
    width: 128px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

.Privacy-Policy {
    width: 89px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;;
}

.About-Us-Copy {
    width: 60px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

.Press {
    width: 35px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

.Contact-Us {
    width: 73px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

.Perks {
    width: 35px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

.Blog {
    width: 28px;
    height: 18px;
    margin: 15px 16px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
}

img.instagram-fill {
    width: 30px;
    height: 30px;
    margin: 10px 16px;
    object-fit: contain;
}

img.youtube-fill {
    width: 30px;
    height: 30px;
    margin: 10px 16px;
    object-fit: contain;
}

img.facebook-box-fill {
    width: 30px;
    height: 30px;
    margin: 10px 16px;
    object-fit: contain;
}

img.twitter-fill {
    width: 30px;
    height: 30px;
    margin: 10px 30px 10px 16px;
    object-fit: contain;
}