.navBar {
    /* overflow: hidden; */
    background-color: #09a04b;
    position: relative;
    width: 95%;
    height: 5.5%;
    /* height: auto; */
    display: flex;
    padding: 10px 0 0 5%;
    flex-wrap: wrap;
}

@media only screen and (max-device-width: 660px) {
    .navBar {
        height: 25rem;
        flex-direction: column;
        /* align-items: center;  */
    }
  }

.PEEKaMEET {
    width: 7.6%;
    height: 42.9%;
    margin: 8px 0 8px 8px;
    font-family: CircularStd;
    font-size: 18.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #fff;
}

.menuNav {
    display: none;
    width: 75%;
}
  
.menuNav-showMenu {
    display: block;
    width: 75%;
}

.menuNavMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navBar .icon {
    cursor: pointer;
    position: absolute;
    left: 90%;
    top: 25%;
}

.signOutDiv {
    background-color: #09a04b;
    color: #ffffff;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 1%;
}

.notesButtonDiv {
    background-color: #09a04b;
    color: #ffffff;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 1%;
}
