.navBar {
    overflow: hidden;
    background-color: #09a04b;
    position: relative;
    width: 100%;
    height: 7%;
    display: flex;
}

.PEEKaMEET {
    width: 7.6%;
    height: 42.9%;
    margin: 8px 0 8px 8px;
    font-family: CircularStd;
    font-size: 18.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #fff;
}

.menuNav {
    display: none;
    width: 75%;
}
  
.menuNav-showMenu {
    display: block;
    width: 75%;
}

.menuNavMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBar .icon {
    cursor: pointer;
    position: absolute;
    left: 90%;
    top: 25%;
}

.signOutDiv span{
    background-color: #09a04b;
    color: #ffffff;
    text-align: center;
    border: none;
    cursor: pointer;
}

.notesButtonDiv {
    background-color: #09a04b;
    color: #ffffff;
    text-align: center;
    border: none;
    cursor: pointer;  
}
